<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
    <div class="about-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="about-img">
                        <img src="/images/milkab.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-lg-offset-1">
                    <div class="about-text">
                        <h2>About Us</h2>
                        <p>Welcome to our cow farm, where every drop of milk embodies the pure essence of nature's bounty. Nestled in the heart of serene pastures, our journey begins with a genuine commitment to providing the freshest and most nourishing milk to your table.

                            At our farm, ethical practices are our foundation. Our cows roam freely on open pastures, basking in sunlight and grazing on lush, natural grass. With a diet devoid of additives or artificial enhancers, our cows produce milk that's not only delicious but also brimming with essential nutrients.
                            
                            We take pride in our legacy of responsible farming. Since our inception, we've upheld a steadfast belief in the well-being of our cows and the quality of our milk. With every passing year, our dedication has only deepened, resulting in milk that is a true testament to our values.
                            
                            </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        &copy; mikOmilkyzpure.com. Developed by MOHAMMED ASIF RAZA.
      
        </footer>
</body>
</html>