<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com  -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>milkOmilkyzpure.com</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

   

    <!-- Swiper JS CSS-->
    <link rel="stylesheet" href="swiper-bundle.min.css">

    <!-- Scroll Reveal -->
    <link rel="stylesheet" href="scrollreveal.min.js">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
        
    <!-- CSS -->
    <link rel="stylesheet" href="frontpage.css">
   

</head>
<body>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<!-- Header -->
    <header class="header">
        <nav>
            <div class="navbar">
              <div class="container nav-container">
                  <input class="checkbox" type="checkbox" name="" id="" />
                  <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                  </div>  
               
                <div class="menu-items">
                  <li><a href="#home">Home</a></li>
                  <li><a href="/gallery">Gallery</a></li>
                  <li><a href="/about">about</a></li>
                  
                  <li><a href="/contact">contact</a></li>
                  <li><a href="/logout">Log-Out</a></li>
                </div>
              </div>
            </div>
          </nav>
        
    </header>

<!-- Home Section -->
<div class="slide">
    <div class="slide_container">
       
             
          
    <div class="slide_con">
        <div class="slide_content">
            <h2>FRESH DAIRY MILK 
                <br>
                <span>DIRECT DAIRY TO YOUR TABLE!</span>
            </h2>
            <div class="slide_btn">
                <a href="#products">Shop Now</a>
            </div>
            
        </div>
     </div>
</div>
<!-- About Section -->
        
<div class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="about-img">
                    <img src="/images/milkab.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-lg-offset-1">
                <div class="about-text">
                    <h2>About Us</h2>
                    <p>Welcome to our cow farm, where every drop of milk embodies the pure essence of nature's bounty. Nestled in the heart of serene pastures, our journey begins with a genuine commitment to providing the freshest and most nourishing milk to your table.

                        At our farm, ethical practices are our foundation. Our cows roam freely on open pastures, basking in sunlight and grazing on lush, natural grass. With a diet devoid of additives or artificial enhancers, our cows produce milk that's not only delicious but also brimming with essential nutrients.
                        
                        We take pride in our legacy of responsible farming. Since our inception, we've upheld a steadfast belief in the well-being of our cows and the quality of our milk. With every passing year, our dedication has only deepened, resulting in milk that is a true testament to our values.
                        
                        </p>
                        <div class="slide_btn">
                            <a href="#products">Explore Now</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
<!-- Menu Section -->

<div class="product" id="products">
<h2>OUR PRODUCTS</h2>
<div class="product_container">

    <div class="item">
        <div class="item_img">
            <img src="images/milk-3.webp">
        </div>
        <div class="item_content">
            <h3>Half Liter with Packaging</h3>
            <p>Fresh Milk at your Doorstep</p>
            <h3>Market Price-₹40</h3>
            <h4>Our Price-₹29/-ONLY</h4>
            <h4>milk/month-₹859/-ONLY</h4>
           
            <br><br>
            <a href="#" class="order-button" data-amount="85900" >Order Now</a>
        </div>
    </div>

    <div class="item">
        <div class="item_img">
            <img src="images/milk-3.webp">
        </div>
        <div class="item_content">
            <h3>One Liter with Packaging</h3>
            <p>Fresh Milk at your Doorstep</p>
            <h3>Market Price-₹80</h3>
            <h4>Our Price-₹56/-ONLY</h4>
            <h4>milk/month-₹1679/-ONLY</h4>
            <br><br>
            <a href="#" class="order-button" data-amount="167900">Order Now</a>
        </div>
    </div>

    <div class="item">
        <div class="item_img">
            <img src="images/milk-3.webp">
        </div>
        <div class="item_content">
            <h3>Half Liter without Packaging</h3>
            <p>Fresh Milk at your Doorstep</p>
            <h3>Market Price-₹35</h3>
            <h4>Our Price-₹25/-ONLY</h4>
            <h4>milk/month-₹749/-ONLY</h4>
            <br><br>
            <a href="#" class="order-button" data-amount="74900">Order Now</a>
        </div>
    </div>

    <div class="item">
        <div class="item_img">
            <img src="images/milk-3.webp">
        </div>
        <div class="item_content">
            <h3>One Liter without Packaging</h3>
            <p>Fresh Milk at your Doorstep</p>
            <h3>Market Price-₹72</h3>
            <h4>Our Price-₹50/-ONLY</h4>
            <h4>milk/month-₹1499/-ONLY</h4>
            <br><br>
            <a href="#" class="order-button" data-amount="149900">Order Now</a>
        </div>
    </div>
</div>
</div>
<h3 class="new">NOTE:- We Accept only on monthly basis you have to pay amount on 5th of every month if not delevery will be discontineued!</h3>
<hr>


    
  <!--team-->
 <!--team-->
 <div class="responsive-container-block outer-container">
  <div class="responsive-container-block inner-container">
    <h2 class="text-blk section-head-text">
      Meet Our Expert Team
    </h2>
    
    <div class="responsive-container-block">
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="images/pf3.png">
          </div>
          <p class="text-blk name">
            Mohammed Asif Raza
          </p>
          <p class="text-blk position">
            Founder & CEO
          </p>
          
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="images/pf3.png">
          </div>
          <p class="text-blk name">
            Arsalan Khan
          </p>
          <p class="text-blk position">
            Manager & Accountant
          </p>
          
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="images/pf3.png">
          </div>
          <p class="text-blk name">
            Jhon Steave 
          </p>
          <p class="text-blk position">
            Instructor
          </p>
         
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="images/pf3.png">
          </div>
          <p class="text-blk name">
            Hamza
          </p>
          <p class="text-blk position">
            Advocate 
          </p>
        
        </div>
      </div>
    </div>
  </div>
</div>






      
  
<!-- Reviews Section -->
      <section class="section review" id="review">
          <div class="review-container container">
                  <div class="review-text">
                          <h4 class="section-subtitle"><i>Reviews</i></h4>
                          <h2 class="section-title">What Clients Says</h2>
                          <p class="section-description">Some reviews that customer said about coffee services and business Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt magnam totam repellat, labore commodi exercitationem!</p>
                  </div>

                  <div class="tesitmonial swiper mySwiper">
                          <div class="swiper-wrapper">
                                  <div class="testi-content swiper-slide flex">
                                          <img src="images/pf3.png" alt="" class="review-img">
                                          <p class="review-quote">Your coffee hits the spot every time. Thank you for the experience of pure, delicious coffee masterfully roasted! I will never purchase any other and I will spread the word!</p>
                                          <i class='bx bxs-quote-alt-left quote-icon'></i>
                                          <p>husain</p>

                                         
                                  </div>
                                  <div class="testi-content swiper-slide flex">
                                          <img src="images/pf3.png" alt="" class="review-img">
                                          <p class="review-quote">Your coffee hits the spot every time. Thank you for the experience of pure, delicious coffee masterfully roasted! I will never purchase any other and I will spread the word!</p>
                                          <i class='bx bxs-quote-alt-left quote-icon'></i>

                                          <div class="testi-personDetails flex">
                                                  <span class="name">Marnie Rotter</span>
                                                  <span class="job">App Developer</span>
                                          </div>
                                  </div>
                                  <div class="testi-content swiper-slide flex">
                                          <img src="images/pf3.png" alt="" class="review-img">
                                          <p class="review-quote">Your coffee hits the spot every time. Thank you for the experience of pure, delicious coffee masterfully roasted! I will never purchase any other and I will spread the word!</p>
                                          <i class='bx bxs-quote-alt-left quote-icon'></i>

                                          <div class="testi-personDetails flex">
                                                  <span class="name">Marnie Rotter</span>
                                                  <span class="job">App Developer</span>
                                          </div>
                                  </div>
                              </div>
                              <div class="swiper-button-next swiper-navBtn"></div>
                              <div class="swiper-button-prev swiper-navBtn"></div>
                              <div class="swiper-pagination"></div>
                  </div>
          </div>
      </section>

  

  
      <footer>
          
         
          <div class="doc">
              <h3>Documents</h3>
              <a href="#">Privacy Policy</a>|
              <a href="#">Terms of Use</a>|
              <a href="#">Refund Policy</a>
          </div>
          <div class="social">
              <h3>Follow Us</h3>
              <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </div>
          <div class="contact">
              <h3>Contact Us</h3>
              <a href="https://wa.me/9353580260" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
              <a href="tel: +919353580260"><i class="fa fa-phone" aria-hidden="true"></i></a>
              <a href="mailto: masifraza.asif@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
          </div>
          <hr>
          <p>Copyright &copy; 2023 milkOmilkyzpure.com Developed by Mohammed Asif Raza. All rights reserved.</p>
      </footer>

</main>

<!-- Swiper JS -->
<script src="swiper-bundle.min.js"></script>

<!-- Scroll Reveal -->
<script src="scrollreveal.js"></script>

<!-- JavaScript -->
    <script src="script.js"></script>

<script>
    // Smooth scrolling function
    function smoothScroll(target) {
        const targetElement = document.querySelector(target);
        if (targetElement) {
            window.scrollTo({
                top: targetElement.offsetTop,
                behavior: 'smooth'
            });
        }
    }

    // Attach click event to the "SHOP NOW" link
    const shopNowLink = document.querySelector('a[href="#products"]');
    if (slide_btn) {
        slide_btn.addEventListener('click', function (event) {
            event.preventDefault();
            smoothScroll('#products');
        });
    }
</script>
<script src="dashboard.js"></script>

</body>
</html>