<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="stylesheet" href="frontpage.css">
    <title>milkOmilkyzpure.com</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

</head>
<body>
    <!-- ----------------------------------------NAVBAR----------------------------------------------------->
    <nav class="nav nav_top">
        <div class="logo">
            <a href="index.html"><img src="images/logo.jpg" width="50"></a>
        </div>
        <div class="nav_side">
            <a href="/about">ABOUT</a>
            <a href="/gallery">GALLERY</a>
            <a href="/contact">CONTACT</a>
            <a href="/signup">REGISTER/LOGIN->></a>
            
        </div>
    </nav>
    <!-- ----------------------------------------FIRST CAROUSEL----------------------------------------------------->
    <div class="slide">
        <div class="slide_container">
           
                 
              
        <div class="slide_con">
            <div class="slide_content">
                <h2>BEST ORGANIC FRESH DAIRY MILK 
                    <br>
                    <span>DIRECT DAIRY TO YOUR TABLE!</span>
                </h2>
                <div class="slide_btn">
                    <a href="/signup">SHOP NOW</a>
                </div>
                
            </div>
         </div>
    </div>
    <!-- --------------------------------------------SIDE----------------------------------------------------------->
    <div class="side">
        <div class="left">
            <img src="/images/product-1.jpg">
        </div>
        <div class="right">
            <h2>BENIFITS OF OUR PRODUCTS</h2>
            <p>
                Experience the pure and refreshing essence of nature through every sip of our organic milk. 
                Sourced from ethical farms, our cows graze on open pastures and enjoy a diet free from additives, 
                 From farm to table, our commitment to delivering the best organic milk,our milk is a symbol of well-being and mindful consumption, 
            Immerse yourself in the natural flavors and benefits of fresh organic milk, making each moment a delightful and nourishing experience.
            </p>
            <div class="side_btn">
                <a href="/signup">SHOP NOW</a>
            </div>
        </div>

    </div>
    <!-- --------------------------------------------MAIN----------------------------------------------------------->
    <div class="main">
            <div class="main_content">
                <h2>UP TO 50% OFF!
                    <br>
                    <span>Over Best Quality Fresh Milk</span>
                </h2>
            </div>
    </div>


    <div class="product">
        <h2>OUR PRODUCTS</h2>
        <div class="product_container">

            <div class="item">
                <div class="item_img">
                    <img src="images/milk-3.webp">
                </div>
                <div class="item_content">
                    <h3>Half Liter with Packaging</h3>
                    <p>Fresh Milk at your Doorstep</p>
                    <br><br>
                    <a href="/signup">Order Now</a>
                </div>
            </div>

            <div class="item">
                <div class="item_img">
                    <img src="images/milk-3.webp">
                </div>
                <div class="item_content">
                    <h3>One Liter with Packaging</h3>
                    <p>Fresh Milk at your Doorstep</p>
                    <br><br>
                    <a href="/signup">Order Now</a>
                </div>
            </div>

            <div class="item">
                <div class="item_img">
                    <img src="images/milk-3.webp">
                </div>
                <div class="item_content">
                    <h3>Half Liter without Packaging</h3>
                    <p>Fresh Milk at your Doorstep</p>
                    <br><br>
                    <a href="/signup">Order Now</a>
                </div>
            </div>

            <div class="item">
                <div class="item_img">
                    <img src="images/milk-3.webp">
                </div>
                <div class="item_content">
                    <h3>One Liter without Packaging</h3>
                    <p>Fresh Milk at your Doorstep</p>
                    <br><br>
                    <a href="/signup">Order Now</a>
                </div>
            </div>
        </div>
    </div>
    <hr>

<!-- --------------------------------------------new eam----------------------------------------------------------->

<div class="product">
    <h2>Our Team</h2>
<div class="product_container">

    <div class="item">
        <div class="item_img">
            <img src="images/pf2.jpg">
        </div>
        <div class="item_content">
            <h4>Mohammed Asif Raza</h4>
            <h3>FOUNDER AND CEO</h3>
            <p>BE(Computer Science and Engineering)</p>
            
        </div>
    </div>

    <div class="item">
        <div class="item_img">
            <img src="images/pf2.jpg">
        </div>
        <div class="item_content">
            <h4>Steav Jhon</h4>
            <h3>MANAGER</h3>
            <p>Bachuler of COMMERCE</p>
            
        </div>
    </div>

    <div class="item">
        <div class="item_img">
            <img src="images/pf2.jpg">
        </div>
        <div class="item_content">
            <h4>Aditee Singh</h4>
            <h3>ACCOUNTANT</h3>
            <p>CA from REVA University</p>
        </div>
    </div>

    <div class="item">
        <div class="item_img">
            <img src="images/pf2.jpg">
        </div>
        <div class="item_content">
            <h4>Hussain Udaipurwala</h4>
            <h3>Lowyer</h3>
            <p>LLB (Al-Ameen Collage)</p>
            <br><br>
            
        </div>
    </div>
</div>
</div>
<hr>



  

    <!-- --------------------------------------------TEAM--------------------------------------------------------->
    <div class="team">
        <h2>OUR FARM AND WORK CULTURE</h2>
        <div class="team_container">
            <div class="team_video">
                <video controls>
                    <source src="images/cowvid.mp4" type="video/mp4">
                </video>
            </div>
            <div class="team_content">
                <p>We curate exceptional dairy experiences rooted in our heritage and passion. With a genuine affection for all things dairy, we embark on a journey that celebrates the richness of milk.</p>
                <p>Experience the pure delight of nature with every sip of our fresh, organic milk. From ethical farms to your table, our commitment to quality shines through. Savor the richness of nutrients in each glass, embracing well-being and mindful living.</p>
            </div>
        </div>
    </div>






    <footer>
        <div class="footer_logo">
            <a href="index.html"><img src="images/logo.jpg" width="50"></a>
        </div>
        <div class="pages">  
            <h3>Customer Care</h3>
           <a href="/about">ABOUT</a>|
            <a href="/gallery">Gallery</a>|
            <a href="/contact">CONTACT</a>
        </div>
        <div class="doc">
            <h3>Documents</h3>
            <a href="#">Privacy Policy</a>|
            <a href="#">Terms of Use</a>|
            <a href="#">Refund Policy</a>
        </div>
        <div class="social">
            <h3>Follow Us</h3>
            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
        <div class="contact">
            <h3>Contact Us</h3>
            <a href="https://wa.me/9353580260" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
            <a href="tel: +919353580260"><i class="fa fa-phone" aria-hidden="true"></i></a>
            <a href="mailto: masifraza.asif@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
        </div>
        <hr>
        <p>Copyright &copy; 2023 milkOmilkyzpure.com Developed by Mohammed Asif Raza. All rights reserved.</p>
    </footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
 <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

</body>
</html>