<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #bab3f1;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      margin-top: 100px;
    }

    h2 {
      text-align: center;
      color: #382323;
    }

    input[type="password"],
    input[type="submit"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }

    input[type="submit"] {
      background-color: #81466b;
      color: #fff;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #f1b26a;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2>Reset Password</h2>
    <form action="/resetpass" method="post">
      <input type="password" placeholder="New Password" name="password"required>
      
      <input type="submit" value="Reset Password">
    </form>
  </div>
</body>
</html>